<!doctype html>
<html>
	<head>
		<title>mmmm</title>
		<meta charset="utf-8">
		<script type="text/javascript" src="bower_components/react/react.min.js"></script>
		<script type="text/javascript" src="bower_components/react/react-dom.min.js"></script>
		<script type="text/javascript" src="javascript/browser.min.js"></script>
		<script type="text/babel" src="javascript/main.js"></script>
	</head>
	<body>
		<div id="container"></div>
		<div id="example"></div>
		<div id="content"></div>
		<div id="mbox"></div>
		<div id="wrap"></div>
		<div id="testAttr"></div>
	</body>
</html>